<div class="flex-column">
    <div class="flex-row" style="width: 100%;">
        <mat-label class="apply-ellipsis" style="flex-grow: 2;  ">Welcome, {{accountusername$ | async}}</mat-label>
        <!-- <input placeholder="rows" [formControl]="row"> -->
        <!-- <input placeholder="columns" [formControl]="column"> -->
        <!-- <input placeholder="adjacent" [formControl]="adjacent"> -->
        <!-- <button (click)="startGame()">Start Game</button> -->
        <!-- <button (click)="fblogin()">FB Login</button> -->
        <!-- <button (click)="fbfriends()">FB firends</button> -->
        <!-- <button (click)="openRegisterComponent()">Register</button> -->
        <button style="justify-self: end;" mat-flat-button color="primary" (click)="openNewGameComponent()">New Game</button>
    </div>
        <!-- <app-players></app-players> -->
        <app-board></app-board>
        <app-games></app-games>
</div>