$border: 1px solid rgb(129, 186, 63);

.board {
    border: $border;
}

.row-structure {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.column {
    border: $border;
    background-color: cornsilk;
    margin: auto;
    color: rgba(182, 8, 8, 0.814);
    font-weight: bolder;
    text-align: center;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.column:hover {
    background-color: peru;
}

.icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-styles {
    transform: scale(3);
}