<!-- <h1 mat-dialog-title> -->
    <h1 mat-dialog-title>New Game</h1>
<!-- </h1> -->
<!-- <div mat-dialog-content> -->
    <form>
        <mat-form-field style="width: 100%;">
            <mat-label>Enter Size (in Boxes)</mat-label>
            <input matInput name="rows" [(ngModel)]="rows">
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <mat-label>Enter No. Of Adjacents</mat-label>
            <input name="adjacents" matInput [(ngModel)]="adjacents">
        </mat-form-field>
    </form>

    <mat-label>Select Symbol (X or O)</mat-label>
    <br><br>
    <mat-button-toggle-group [(ngModel)]="symbol">
        <mat-button-toggle value="X">X</mat-button-toggle>
        <mat-button-toggle value="O">O</mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    <br>
    <br>
<!-- </div> -->
<!-- <div mat-dialog-actions> -->
  <button mat-raised-button secondary (click)="closeDialog()">Go Back</button>
  <button mat-raised-button primary (click)="startGame()">Start</button>
<!-- </div> -->