<div style="height: 60vh; display: flex; flex-direction: column; justify-content: space-between;">
    <h1 mat-dialog-title>New Game</h1>
    <div style="font-size: 16px;">
        Create a game and challenge anybody via any messaging application on your phone
    </div>
    <form>
        <mat-form-field style="width: 100%;">
            <mat-label>Enter Size (in Boxes)</mat-label>
            <input matInput name="rows" [(ngModel)]="rows">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Enter No. Of Adjacents</mat-label>
            <input name="adjacents" matInput [(ngModel)]="adjacents">
        </mat-form-field>
    </form>

    <div>
        <mat-label>Select Symbol (X or O)</mat-label>
        <br><br>
        <mat-button-toggle-group [(ngModel)]="symbol">
            <mat-button-toggle value="X">X</mat-button-toggle>
            <mat-button-toggle value="O">O</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div style="display: flex; justify-content: space-evenly;">
        <button mat-raised-button color='accent' (click)="closeDialog()">Go Back</button>
        <button mat-raised-button color='primary' (click)="startGame()">Start</button>
    </div>
</div>