

<!-- <table class="board">
    <tr class = "row" *ngFor="let row of board$ | async">
        <td class="column" *ngFor="let column of row">
            <span class="cell">
                {{column}}
            </span>
        </td>
    </tr>
</table> -->

<div style="display: flex; flex-direction: column;">
    <div class = "row" style="display: flex; flex-direction: row; flex-grow: 1; justify-content: space-between;" *ngFor="let row of board$ | async; let r=index;">
        <div class="column" *ngFor="let column of row; let c=index;">
            <div class="cell" (click)="cellClicked(r,c)">
                {{column}}
            </div>
        </div>
    </div>
</div>