

<!-- <table class="board">
    <tr class = "row" *ngFor="let row of board$ | async">
        <td class="column" *ngFor="let column of row">
            <span class="cell">
                {{column}}
            </span>
        </td>
    </tr>
</table> -->

<div class='board board-structure' >
    <div class = "row row-structure" *ngFor="let row of board$ | async; let r=index;">
        <div class="column column-structure" *ngFor="let column of row; let c=index;" (click)="cellClicked(r,c)">
            <ng-container>
                <div class="cell cell-structure">{{column}}</div> 
            </ng-container>
        </div>
    </div>
</div>
<!-- 

<div #majordiagonal style="position: absolute;
transform: rotate(45deg);
translate: -15px 25px;
height: 0px;
width: 9.5vw;
border-top: 5px solid black;"></div>

<div #minordiagonal style="position: absolute;
transform: rotate(135deg);
translate: -15px 25px;
height: 0px;
width: 9.5vw;
border-top: 5px solid black;"></div>

<div #horizontal style="position: absolute;
translate: -5px 25px;
height: 0px;
width: 9.5vw;
border-top: 5px solid black;"></div>

<div #vertical style="position: absolute;
transform: rotate(90deg);
translate: -15px 20px;
height: 0px;
width: 9.5vw;
border-top: 5px solid black;"></div> -->