/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}